*.out
*.a
*.o
\#*\#
*~
.\#*
*.gc*
unit_tests
libmy.a
include/defmy.h
include/my.h
include/my_linked_list.h
include/my_fd.h
include/my_array.h
include/my_math.h
include/my_str.h
include/my_printf_utils.h
vgcore.*
my_rpg
workspace